.contact-feature{
    background:linear-gradient(100deg, #682FCC -15.09%, #7039CF 57.54%);
    position:relative;
    overflow:hidden;
    &:before{
        content:"";
        position:absolute;
        top:-25%;
        left:-100px;
        width:400px;
        height:400px;
        background-color:rgba(255,255,255,0.05);
        filter: blur(100px);  

    }
    &:after{
        content:"";
        position:absolute;
        bottom:-50%;
        right:0px;
        width:400px;
        height:400px;
        background-color:rgba(255,255,255,0.05);
        filter: blur(100px);  

    }
    .inner{
        padding:60px 0px;
        padding-bottom:150px;
        max-width:1240px;
        margin:0 auto;
        position:relative;
        z-index:1;
        @include responsive(lg){
            padding: 60px 40px;
            padding-bottom:150px;
        }
        @include responsive(sm){
            padding-bottom:70px;
        }
        @include responsive(xs){
            padding:40px 20px;
            padding-bottom:70px;
        }
        .heading{
            text-align: center;
            color:#fff;
            font-size: 20px;
            font-weight: 500;
            line-height: 100%;
            margin-bottom:70px;
            @include responsive(sm){
                font-size: 16px;
                margin-bottom:35px;
            }
        }
        .links{
            display:flex;
            align-items: center;
            gap:40px;
            @include responsive(lg){
                flex-direction: column;
                justify-content: center;
            }
            @include responsive(sm){
                gap:32px;
            }
            .link-item{
                flex:1;
                border-radius: 20px;
                border: 1px solid #9A69EE;
                background: linear-gradient(100deg, #682FCC -15.09%, #7039CF 57.54%);
                display:flex;
                align-items: center;
                justify-content: center;
                gap:20px;
                padding:20px 0px;
                @include responsive(lg){
                    padding:20px;
                    width: 100%;
                }
                .icon{
                    background-color:#fff;
                    width:60px;
                    height:60px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border-radius:50%;
                    @include responsive(sm){
                        width:42px;
                        height:42px;
                    }
                }
                a{
                    color:#fff;
                    font-weight: 500;
                    font-size: 30px;
                    letter-spacing: 6px;
                    @include responsive(sm){
                        font-size: 16px;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
}