.reviews-template{
    background:#131313;
    position:relative;
    overflow:hidden;
    &:before{
        content:"";
        pointer-events:none;
        position:absolute;
        top:-300px;
        left:-300px;
        width:600px;
        background-color:rgba(255,255,255,0.05);
        filter:blur(100px);
        height:600px;
    }
    &:after{
        content:"";
        pointer-events:none;
        position:absolute;
        right:20%;
        bottom:-200px;
        width:600px;
        background-color:rgba(255,255,255,0.05);
        filter:blur(100px);
        height:600px;
    }
    .inner{
        padding:40px 0px;
        margin:0 auto;
        max-width:1240px;
        z-index:1;
        @include responsive(lg){
            max-width:100%;
            padding:40px;
        }
        @include responsive(lg){
            padding:30px 20px;
            padding-bottom:50px;
        }
        .breadcrumbs{
            margin-bottom:30px;
            .breadcrumb-item{
                font-size: 20px;
                color:$purple;
                font-weight: 500;
                line-height:1;
                @include responsive(sm){
                    font-size:16px; 
                }
                &.active{
                    color:rgba(255, 255, 255, 0.40);
                }
            }
        }
        .sub-heading{
            text-align: center;
            color:$purple;
            font-size:20px;
            font-weight:500;
            letter-spacing: 4px;
            margin-bottom:30px;
            @include responsive(sm){
                margin-bottom:15px;
            }
        }
        .heading{
            color:#fff;
            text-align: center;
            font-size: 48px;
            font-weight: 700;
            line-height: 130%;
            margin-bottom:70px;
            @include responsive(sm){
                font-size:36px;
                margin-bottom:20px;
            }
        }
        .reviews-wrap{
            display:flex;
            flex-wrap:wrap;
            margin-bottom:70px;
            gap:20px;
            @include responsive(md){
                display:flex;
                flex-wrap:wrap;
            }
            @include responsive(sm){
                margin-bottom:30px;    
            }
            .review-item{
                flex: 0 0 calc(33.3% - 13.33px);
                background-color: #1A202C;
                color:#fff;
                padding:30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius:20px;
                height: auto;
                @include responsive(md){
                    flex: 0 0 calc(50% - 10px);
                }
                @include responsive(sm){
                    flex: 0 0 100%;
                }
                .review-top{
                    font-family:$inter;
                    padding-bottom:30px;
                    padding-right:20px;
                    .title{
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom:15px;
                    }
                    .description{
                        font-size:16px;
                        font-weight:400;
                        color:#F3F5F7;
                        line-height: 150%;
                        max-height:96px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical; 
                        p{
                            margin: 0;
                        }
                        @include responsive(xs){
                            font-size: 12px;
                        }
                    }
                    .read-more{
                        text-decoration: underline;
                        cursor: pointer;
                        @include responsive(xs){
                            font-size: 12px;
                        }
                        &:hover{
                            transition: 200ms ease;
                            color: #8859D7;                            
                        }
                    }
                }
                .review-bottom{
                    display:flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding-top: 10px;
                    border-top: 1px solid rgba(145, 164, 191, 0.2);
                    .client-details{
                        .stars{
                            margin-bottom:5px;
                        }
                        .published-date{
                            color:#C3D4E9;
                            font-size: 12px;
                            font-weight: 400;
                        }
                        .client-name{
                            font-size: 18px;
                            font-weight: 700;
                        }
                        .platform-logo{
                            margin-top:-5px;
                            img{
                                max-width:60px;
                                height:auto;
                            }
                        }
                    }
                    .broker-details{
                        .image-wrap{
                            width:60px;
                            height:60px;
                            padding:5px;
                            background-color:#fff;
                            border-radius:10px;
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width:100%;
                                height:auto;
                            }
                        }
                    }
                }
            }
        }
        .button-wrap{
            text-align:center;
            a{
                font-weight:500;
                color:#fff;
                cursor:pointer;
                background-color:$purple;
                padding:17px 40px;
                position:relative;
                border-radius:30px;
                transition:background-color .3s ease;
                @include responsive(sm){
                    width:100%;   
                }
                &:hover{
                    background-color:$purplehover;
                }
                &.loading{
                    opacity:0.5;
                    color:transparent;
                    pointer-events: none;
                    &:before{
                        content:"";
                        position:absolute;
                        width:20px;
                        height:20px;
                        border:2px solid #fff;
                        border-radius:50%;
                        border-left:2px solid transparent;
                        top:50%;
                        left:50%;
                        transform:translate(-50%,-50%);
                        animation: spinloader 2s linear infinite;
                    }
                }
            }
        }
    }
}
@keyframes spinloader{
    from{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}