.footer{
    background:#131313;
    .inner{
        padding:60px 0px 20px 0px;
        max-width:1240px;
        position:relative;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        @include responsive(lg){
            max-width:100%;
            padding:60px 40px 20px 40px;
            gap:40px;
        }
        @include responsive(md){
            flex-wrap:wrap;
        }
        @include responsive(sm){
            padding:40px 20px 20px 20px;
        }
        .logo-container{
            @include responsive(xs){
                flex: 0 0 100%;
            }
            .logo-wrap{
                margin-bottom:20px;
            }
            .description{
                font-size: 17px;
                font-style: normal;
                color:rgba(255,255,255,0.5);
                font-weight: 400;
                font-family:$inter;
                max-width:330px;
            }
        }
        .menu-wrap{
            flex: 0 0 62%;
            display:flex;
            align-items: flex-start;
            justify-content: flex-end;
            gap:100px;
            @include responsive(lg){
                flex: 0 0 55%;
                gap:50px;
            }
            @include responsive(md){
                flex: 0 0 100%;
                justify-content: flex-start;
            }
            @include responsive(sm){
                flex-direction:column;
                gap:15px;   
            }
            .menu-col{
                @include responsive(sm){
                    border-bottom:1px solid rgba(255,255,255,0.08);
                    width:100%;
                }
                &.mobile-legal{
                    display:none;
                    @include responsive(md){
                        display:block;
                    }
                }
                .column-name{
                    color:#fff;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom:15px;
                    @include responsive(sm){
                        display:flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .arrow{
                        display:none;
                        @include responsive(sm){
                            display:block;
                        }
                    }
                }
                .menu-inner{
                    @media(min-width:767px){
                        display:block !important;
                    }
                    @include responsive(sm){
                        display:none;
                    }
                    .menu-item{
                        margin-bottom:12px;
                        a{
                            display:flex;
                            align-items: center;
                            font-weight: 400;
                            gap:10px;
                            color:rgba(255,255,255,0.5);
                            transition:all .3s ease;
                            @include responsive(sm){
                                gap:5px;
                                font-size:14px;
                            }   
                            &:hover{
                                color:rgba(255,255,255,0.8);
                                svg{
                                    *{
                                        fill:rgba(255,255,255,0.8);
                                    }
                                }
                            }
                        }
                        &.last-child{
                            margin-bottom:0;
                        }
                    }
                    &.legal{
                        border-top:1px solid rgba(255,255,255,0.08);
                        margin-top:48px;
                        padding-top:24px;
                        @include responsive(md){
                            border:0;
                            margin:0;
                            padding:0;
                            flex-direction:column;
                            gap:unset!important;
                        }
                    }

                }
                &.contact{
                    flex:1;
                    @include responsive(md){
                        flex:unset;
                    }
                    .menu-inner{
                        .legal{
                            @include responsive(md){
                                display:none;
                            }
                        }
                    }
                }
            }
        }
        .copyright-text{
            position:absolute;
            bottom:20px;
            font-family:$inter;
            left:0;
            color:rgba(255,255,255,0.5);
            @include responsive(lg){
                left:40px;
            }
            @include responsive(md){
                position:static;
            }
            @include responsive(sm){
                font-size: 12px;
                text-align: center;
                width:100%;
            }
        }
    }
}